
  
  .experience-entry, .repo-entry {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .company-logo {
    max-width: 80px;
  }
 
  
  .repo-entry h3 {
    margin-top: 0;
  }
  
  .repo-entry p {
    margin-top: 10px;
  }
  
 /* Exp.css */

/* Exp.css */

.repo-entry .repo-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #191528;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .repo-entry .repo-link:hover {
    background-color: #fdc500;
  }
  
  